/* Conteneur principal */
.tr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh ;          
  background: linear-gradient(135deg, #020817, #031b3a, #041c50);
  color: white;
  position: relative;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding :0px;
  justify-content: space-between; /* espace entre gauche et droite */
  align-items: center;
}

/* Zone gauche : Description */
.tr-left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.tr-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 0 0 10px #4a8cff;
}

.tr-left h2 {
  margin-bottom: 10px;
  color: #7ab8ff;
  text-shadow: 0 0 6px rgba(122, 184, 255, 0.7);
}

.tr-left p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 18px;
}

.tr-left ul {
  margin-top: 15px;
  padding-left: 20px;
}

.tr-left li {
  margin-bottom: 10px;
  font-size: 17px;
}

/* Zone droite : Image + effet */
.tr-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height:100%;
  
}

.tr-image-overlay {
  width: 90%;
  height: 85%;
  background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
  background-size: cover;
  background-position: center;
  filter: brightness(0.65);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 90, 255, 0.6);
  animation: fadeIn 1.5s ease-in-out;
  padding-bottom: 20px;
}

/* Bouton Commencer en bas */
.tr-start-btn {
  margin-bottom: 20px;
  width: 200px;
  padding: 16px 0;
  font-size: 20px;
  font-weight: bold;
  background: rgba(0, 80, 255, 0.75);
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px rgba(0, 110, 255, 0.8);
  text-align: center;
  transition: 0.3s ease;
}

.tr-start-btn:hover {
  transform: scale(1.08);
  background: rgba(0, 110, 255, 0.9);
}

/* Bouton Retour */
.tr-back {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 70, 180, 0.7);
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 90, 255, 0.5);
  cursor: pointer;
  transition: 0.3s ease;
}

.tr-back:hover {
  background: rgba(0, 70, 180, 1);
  transform: scale(1.05);
}
